* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    color: #000;
}
header {
    position: fixed;
    width: 100%;
    font-size: 16px;
    top: 0;
    left: 0;
    z-index: 10;
}
nav {
    background: none;
    width: 1180px;
    display: flex;
    height: 32px;
    padding: 18px 0px;
}

.logo_wh {
    width: 128px;
    height: 28px;
    padding-top: 5px;
}

nav li:first-child {
    padding-left: 102px;
}

nav li {
    float: left;
    text-align: center;
    padding-top: 5px;
}

nav li:not(:last-child) {
    padding-right: 57px;
}


nav a:hover {
    color: #78aa78;
}

.search_data {
    height: 20px;
    width: 183px;
    display: flex;
    text-align: center;
    border-bottom: 2px solid #000;
    margin-left: 120px;
    padding-top: 5px;
}

.search_data input {
    height: 100%;
    width: 183px;
    background: none;
    border: none;
    outline: none;
    font-size: 10px;
    font-weight: 300px;
    color: #000;
}

input::placeholder {
    color: #000;
    opacity: 0.5;
}

.search_data a {
    width: 18px;
    height: 18px;
}

.user {
    width: 46px;
    height: 46px;
    padding-left: 31px;
    margin-top: -12px;
    padding-top: 5px;
}