* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    color: #000;
}

body {
    background-color: #F8F8F8;
}

.title, .title h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
}

.line {
    width: 118px;
    height: 7px;
    background: #386138;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
}
.title p {
	font-size: 16px;
	margin-bottom: 50px;
	margin-top: 5px;
}
.scroll {
    height: 100px;
}

/*  */
header {
    position: fixed;
    width: 100%;
    background-color: #386138;
    font-size: 16px;
    top: 0;
    left: 0;
    z-index: 10;
}
nav {
    background: none;
    width: 1180px;
    display: flex;
    height: 32px;
    padding: 18px 0px;
}

.logo_wh {
    width: 128px;
    height: 28px;
    padding-top: 5px;
}

nav li:first-child {
    padding-left: 102px;
}

nav li {
    float: left;
    text-align: center;
    padding-top: 5px;
}

nav li:not(:last-child) {
    padding-right: 40px;
}

nav a {
    color: white;

}

nav a:hover {
    color: #78aa78;
}

.search_data {
    height: 20px;
    width: 183px;
    display: flex;
    text-align: center;
    border-bottom: 2px solid white;
    margin-left: 120px;
    padding-top: 5px;
}

.search_data input {
    height: 100%;
    width: 183px;
    background: none;
    border: none;
    outline: none;
    font-size: 10px;
    font-weight: 300px;
    color: white;
}

input::placeholder {
    color: white;
    opacity: 0.5;
}

.search_data a {
    width: 18px;
    height: 18px;
    line-height: 45px;
}

.user {
    width: 46px;
    height: 46px;
    padding-left: 31px;
    margin-top: -12px;
    padding-top: 5px;
}
#plus_icon:hover, #plus_icon:active{
    fill:#386138;
}
.plus {
    width: 46px;
    height: 46px;
    padding-left: 31px;
    margin-top: -12px;
    padding-top: 5px;
}

.book-plus {
    width: 440px;
    height: 591px;
    border-radius: 34px;
    background: white;
    position: fixed;
    top: 80px;
    right: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    padding: 20px;
    box-sizing: border-box;
}
.book-plus:target {
    visibility: visible;
}
.plus-input-container {
    margin: 0px 18px 18px 18px;
}
.book-plus .plus-ment {
    font-size: 22px;
    width: 100%;
    margin-bottom: 70px;
}
.book-plus input {
    width: 365px;
    font-size: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #707070;
    color: black;
    margin-bottom: 40px;
}
.book-plus input::placeholder {
    font-size: 16px;
    opacity: 0.5;
    color: black;
}
.book-plus .plus-button {
    display: block;
    align-self: flex-end;
    width: 100%;
    height: 49px;
    color: #fff;
    background: #386138;
    border-radius: 27px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 0px;
}
.book-plus input:focus {
    outline: none;
}
.login-popup {
    width: 434px;
    height: 429px;
    border-radius: 34px;
    background: #FFFFFF;
    position: fixed;
    top: 80px;
    right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}
.login-popup:target {
    visibility: visible;
}
.login-user {
    width: 116px;
    height: 116px;
}
.login-number {
    width: 357px;
    height: 57px;
    border-radius: 27px;
    border: 1px solid #707070;
    background: #FFFFFF;
    text-indent: 20px;
    margin-top: 40px;
}
.login-number:focus {
    outline: none;
}
.login-number::placeholder {
    font-size: 14px;
    color: #000000;
    opacity: 0.24;
    font-weight: lighter;
}
.login-button {
    display: block;
    align-self: flex-end;
    width: 357px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 27px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
    border: none;
    font-size: 22px;
}
.login-button:hover {
    border: 3px solid #386138;
    cursor: pointer;
    box-shadow: none;
}
.login-button:focus {
    outline: none;
}
.cancel-container {
    width: 100%;
}
.cancel {
    float: right;
}

/* banner */
.banner input[id*="slide"] {
    display: none;
}

.banner .slidewrap {
    position: relative;
    z-index: 1;
}

.banner .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.banner .slidelist>li {
    display: inline-block;
    width: 100%;
    transition: all 0.5s;
}

.banner .slidelist>li>a img {
    width: 100%;
    min-width :1180px;
}

.slidelist label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

/* input에 체크되면 슬라이드 효과 */
.banner input[id="slide01"]:checked~.slidewrap .slidelist>li {
    transform: translateX(0%);
}

.banner input[id="slide02"]:checked~.slidewrap .slidelist>li {
    transform: translateX(-100%);
}

.banner input[id="slide03"]:checked~.slidewrap .slidelist>li {
    transform: translateX(-200%);
}

/* 좌,우 슬라이드 버튼 */
.slide-control>div {
    display: none;
}
.banner .left {
    left: 100px;
    background: url("../image/left.svg") center center / 100% no-repeat;
    background-size: 14px 28px;

}
.banner .left:hover {
    left: 100px;
    background: url("../image/left_click.svg") center center / 100% no-repeat;
    background-size: 14px 28px;
}
.banner .right {
    right: 100px;
    background: url("../image/right.svg") center center / 100% no-repeat;
    background-size: 14px 28px;
}
.banner .right:hover {
    right: 100px;
    background: url("../image/right_click.svg") center center / 100% no-repeat;
    background-size: 14px 28px;
}
.banner input[id="slide01"]:checked~.slidewrap .slide-control>div:nth-child(1) {
    display: block;
}
.banner input[id="slide02"]:checked~.slidewrap .slide-control>div:nth-child(2) {
    display: block;
}
.banner input[id="slide03"]:checked~.slidewrap .slide-control>div:nth-child(3) {
    display: block;
}

/* 페이징 */
.slide-pagelist {
    text-align: center;

}

.slide-pagelist>li {
    display: inline-block;
    vertical-align: middle;
}

.slide-pagelist>li>label {
    display: block;
    padding: 7px 7px;
    border-radius: 30px;
    background: #ccc;
    margin: 20px 10px;
    cursor: pointer;

}

.banner input[id="slide01"]:checked~.slidewrap .slide-pagelist>li:nth-child(1)>label {
    background: #999;
}

.banner input[id="slide02"]:checked~.slidewrap .slide-pagelist>li:nth-child(2)>label {
    background: #999;
}

.banner input[id="slide03"]:checked~.slidewrap .slide-pagelist>li:nth-child(3)>label {
    background: #999;
}

/* timer */
.timer_area {
    margin-bottom: 100px;
}

.timer {
    border-radius: 30px;
    box-shadow: 15px 15px 25px rgba(119, 119, 119, 0.1);
    margin-top: 20px;
    width: 975px;
    height: 406px;
    background-color: #F7F7F7;
}

.time {
    display: flex;
}

.timer_text{
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    padding-top: 33px;
}

.timer_box, .timer_box:focus {
    box-shadow: -2px 10px 6px rgba(0, 0, 0, 0.2);
    width: 234;
    height: 234;
    margin-top: 66px;
    text-align: center;
    font-size: 150px;
    font-weight: 500;
    border: none;
    outline: none;
   
}
.btn, botton:focus{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.timer_area .container {
    width: 420px;
}

.timer_area .container .btn:not(:last-child) {
    margin-right: 58px;
    margin-top: 32px;
}

/* indext */
.index-container {
    margin-bottom: 130px;
}
.input-container {
	margin: 0 auto;
	width: 1180px;
	height: 430px;
}
.input-box {
	width: 1110px;
	height: 430px;
	float: left;
	background: #F7F7F7;
	box-shadow: -6px -1px 8px rgba(0, 0, 0, 0.2);
}
.input-box .input-text {
	border: none;
	width: 1080px;
	height: 310px;
	margin-top: 20px;
	margin-left: 20px;
	resize: none;
	background: #F7F7F7;
	font-family: 'NotoSansCJKkr-regular';
	font-size: 22px;
}
.input-box .input-text:focus {
	outline: none;
}

.input-box p {
	display: none;
	margin-top: 20px;
	margin-left: 20px;
	width: 1070px;
	height: 380px;
	font-size: 22px;
	overflow: auto;
}
.button-write {
	width: 70px;
	height: 104px;
	background: #F7F7F7;
    border: none;
	box-shadow: 4px -1px 3px rgba(0, 0, 0, 0.1);
}
.button-write:hover{
    cursor: pointer;
}
.button-confirm {
	width: 70px;
	height: 104px;
	background: #F7F7F7;
	border: none;
	box-shadow: 4px 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.button-confirm:hover{
    cursor: pointer;
}
button:focus {
	outline: none;
}
.save-btn {
	width: 90px;
	height: 48px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
	color: black;
	background: #F5F5F5;
	border-radius: 34px;
	float: right;
	margin-right: 40px;
	margin-top: 30px;
	border: none;
	font-weight: bold;
}
.save-btn:hover {
	color: white;
	background: #386138;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.save-btn:focus {
	outline: none;
}

/* percent */
percent-box svg {
	display: block;
}
.percent-container {
    margin-bottom: 100px;
}
.percent-all {
	width: fit-content;
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	align-items: center;
}
.percent-box {
	margin: 0;
	height: 500px;
	width: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 50px;
    block-size: fit-content;
}
.book {
	text-align: center;
	width: 350px;
	margin-left: 15px;
	margin-right: 15px;
}
.bookinfo-container {
	margin-top: 50px;
}
.bookname {
	font-size: 20px;
}
.bookwriter {
	font-size: 15px;
	opacity: 0.7;

}
.page-percent {
	font-size: 30px;
	font-weight: lighter;
    margin: 0;
}
#user-page {
	color: #3e7c3e;
    background-color: transparent;
	margin: 0;
    border: none;
    font-size: 30px;
    text-align: right;
    width: 50px;
}
#user-page:focus{
    outline: none;
}
#user-page::placeholder {
    color: #707070;
    opacity: 0.5;
}
.percent-all svg {
	margin: 0;
}
/* book list */

#book_list {
   margin-bottom: 240px;
}

#book_list .title {
    padding-bottom: 70;
}

table {
    width: 1180px;
    font-size: 20px;
}

#book_list .head_tr {
    height: 50;
    text-align: center;

}

tbody {
    box-shadow: 7px 8px 13px rgba(0, 0, 0, 0.1);
}

#book_list .body_tr {
    height: 108;
    text-align: center;
    vertical-align: middle;
    z-index: -1;
    border-bottom: 1px solid rgb(236, 236, 236);
}
.no_ptplo_popup{
    /* position: absolute; */
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    width: 435px;
    height: 340px;
    background-color: #fff;
    border-radius: 34px;
    text-align: right;
    padding: 25px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s;
    z-index: 5;
}
.no_ptplo_popup:target{
    opacity: 1;
}
.no_ptople_text{
    text-align: center;
    padding-top: 110px;
    font-size: 18px;
}
.ptplo_btn{
    width: 168px;
    height: 70px;
    border-radius: 27px;
    margin-top: 65px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.ptplo_no{
    margin: auto 15px;
}
.ptplo_no:hover, 
.ptplo_yes:hover{
    border: 2px solid #386138;
    cursor: pointer;
}
/* footer */
footer {
	height: 420px;
	background: #DFDFDF;
    text-align: left;
}
.container {
	width: 1180px;
	margin: 0 auto;
}
footer a {
	text-decoration: none;
	color: black;
}
.link-container ul li {
	float: left;
	margin-right: 20px;
	font-weight: bold;
	font-size: 22px;
	margin-top: 60px;
}
.link-container {
	overflow: auto;
}
.address-container {
	padding-top: 30px;
	clear: both;
	text-align: left;
	font-size: 22px;
}
.tel-container {
	padding-bottom: 30px;
}
.tel-container ul {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
    text-align: left;
}
.tel-container ul li {
	float: left;
	margin-right: 30px;
    margin-left: 0px;
	font-size: 22px;
}
.tel-container ul li strong {
	font-weight: bold;
}
footer .line {
	width: 100%;
	height: 1px;
	background: #BBBBBB;
	margin-bottom: 30px;
}
.info-container ul li {
	font-size: 22px;
	margin-right: 40px;
	float: left;
	font-weight: bold;
}
